<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                        @if (ViewBag.Subpages != null)
                        {
                            @foreach (var subpage in ViewBag.Subpages as List<string>)
                            {
                                <span>@subpage</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

