@model ClothesShop.Data.Data.Shop.Category

@{
    ViewData["Title"] = "Create";
}
@*
<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ImageNameUrl" class="control-label"></label>
                <input asp-for="ImageNameUrl" class="form-control" />
                <span asp-validation-for="ImageNameUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@



@*<div class="card shadow-lg mx-2 card-profile-bottom">
    <div class="card-body p-2">
        <div class="row gx-2">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h1 class="display">Create Category</h1>
                </div>
            </div>
          
        </div>
    </div>
</div>
*@

@*<div class="row mt-4 mx-2">
    <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
                <h1 class="display">Create Category</h1>
               
            </div>
    
        </div>
    </div>
</div>*@


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                    
                <div class="card-header pb-0 pt-3 bg-transparent">
                    <h1 class="display">Create Category</h1>
               
                </div>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                
                

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>

                                
                            </div>
                        </div>

                        </div>
                
                  
                   
             
                    <div class="col-md-6">
              
                        <div class="form-group">
                                <label asp-for="ImageNameUrl" class="control-label"></label>
                            <input asp-for="ImageNameUrl" type="file" class="form-control"/>
                            <span asp-validation-for="ImageNameUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                       
                        <div class="form-check mb-6">

                            <label class="custom-control-label">
                                <input class="form-check-input" type="checkbox" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-primary active" role="button" aria-pressed="true">Back to List</a>
                            <input type="submit" value="Create" class="btn btn-primary active"/>

                        </div>
                       
                    </div>


                    </div>
               </form>
                </div>
            </div>
        </div>
  
    </div>
 

                        
                            
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
